# 목차 1. 리스트
- 리스트 선언 후, 인덱싱&슬라이싱

## 리스트 복습

In [7]:
list_a = [273, 32, 'A', True, [1,2,3]]
list_a[0]

273

In [2]:
list_a[4][1]

2

In [3]:
list_a[2] #인덱싱

'A'

In [4]:
list_a[0:3] #슬라이싱

[273, 32, 'A']

In [5]:
list_a[-1]

[1, 2, 3]

In [13]:
list_a = [273, 32, 'A', True, [1,2,3,]]
list_a[4]

[1, 2, 3]

## 리스트 복합 연산
연결(+), 반복(*), len()

In [10]:
list_a = [1, 2, 3]
list_b = [4, 5, 6]
list_a + list_b

[1, 2, 3, 4, 5, 6]

In [11]:
list_a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [12]:
#리스트는 오직 다른 리스트와 concatenate(연결 될 수 있음)
list_a + 4

TypeError: can only concatenate list (not "int") to list

In [14]:
list_a + [4]

[273, 32, 'A', True, [1, 2, 3], 4]

In [15]:
list_a + list(4)

TypeError: 'int' object is not iterable

In [18]:
list_a + list('a')

[273, 32, 'A', True, [1, 2, 3], 'a']

- 숫자는 scalar 자료형
- 문자는 sequence 자료형

In [19]:
list_a = [273, 32, 'A', True, [1,2,3,]]
#list_a[인덱스번호] = 새로운 값
list_a[2] = 410
list_a

[273, 32, 410, True, [1, 2, 3]]

In [20]:
len(list_a)

5

## 리스트 요소 추가
- append()와 insert()

In [21]:
list_a = [1, 2, 3]
list_a.append(4)
list_a.append("A")
list_a

[1, 2, 3, 4, 'A']

In [23]:
list_a.insert(1,100)
list_a

[100, 100, 1, 2, 3, 4, 'A']

In [24]:
list_a = [1, 2, 3]
list_a.append(4)
list_a.append("A")
list_a.insert(3,100)
list_a

[1, 2, 3, 100, 4, 'A']

## Iterable과 Scala 차이 : extend()
- extend() 함수는 매개변수로 리스트를 입력

In [28]:
list_a = [1, 2, 3]
list_a.extend("a")
list_a

[1, 2, 3, 'a']

In [30]:
list_a = [1, 2, 3]
list_a.extend([4,5,6])
list_a

[1, 2, 3, 4, 5, 6]

## list에서 요소 제거하기 : del 키워드, pop() 키워드

In [32]:
list_a = ["a", "b", "c", "d"]
del list_a[0]
list_a

['b', 'c', 'd']

In [34]:
list_b = [5, 6, 7, [1, 2, 3]]
del list_b[3]
list_b

[5, 6, 7]

In [36]:
list_a = ["a", "b", "c", "d"]
del list_a[0:2]
list_a

['c', 'd']

In [35]:
list_a = ["a", "b", "c", "d"]
list_a.pop(1)
list_a

['a', 'c', 'd']

## 값으로 제거하기 : remove()
- del, pop과 달리 실제 값으로 요소 제거

In [37]:
list_a = ["a", "b", "c", "d"]
list_a.remove("a")
list_a

['b', 'c', 'd']

In [40]:
list_a = ["a", "b", "a", "c", "d"]
list_a.remove("a")
list_a

['b', 'a', 'c', 'd']

In [42]:
list_a = ["a", "b", "a", "c", "d"]
list_a.remove("a")
list_a.remove("a")
list_a

['b', 'c', 'd']

## list 요소 모두 제거 : .clear()

In [43]:
list_a = ["a", "b", "a", "c", "d"]
list_a.clear()
list_a

[]

## 리스트 정렬하기 : sort()

In [44]:
list_a = [52, 273, 103, 32]
list_a.sort()
list_a

[32, 52, 103, 273]

In [45]:
list_a.sort(reverse=True)
list_a

[273, 103, 52, 32]

## 리스트 내부에 있는지 확인하기 : in/not in 연산자
-문자열과 비슷

In [46]:
"a" in "abc"

True

In [47]:
273 in [52, 273, 103, 32]

True

# 목차 2. 튜플

## 튜플
- 리스트와 유사한 자료형

In [48]:
tuple_test = (10, 20, 30) 
tuple_test

(10, 20, 30)

In [49]:
tuple_test[0]

10

In [50]:
tuple_test[1]

20

In [51]:
tuple_test[2]

30

In [52]:
tuple_test[0:1]

(10,)

In [53]:
tuple_test[0] = 100

TypeError: 'tuple' object does not support item assignment

In [54]:
del tuple_test[0]

TypeError: 'tuple' object doesn't support item deletion

# 목차 3.딕셔너리

## 딕셔너리 
-Web 관련 자료형 중에서 JSON 형태와 유사
-Pandas 데이터프레임을 만들 때도 매우 자주 사용
-사전식 구성 연상
    +키워드 입력 ==> 다양한 의미
    +Love, 동사, 명사 등등등

In [89]:
dict_a = {
    "name" : "어벤저스 엔드게임", 
    "type" : "히어로 무비", 
    "director" : ["안소니 루소", "조 루소"], 
    "year" : 2019
}

dict_a

{'name': '어벤저스 엔드게임',
 'type': '히어로 무비',
 'director': ['안소니 루소', '조 루소'],
 'year': 2019}

In [90]:
dict_a['director']

['안소니 루소', '조 루소']

In [91]:
dict_a['director'][0]

'안소니 루소'

In [92]:
dict_a['director'][0][0:3]

'안소니'

In [93]:
dict_a['director'].append("a")
dict_a['director']

['안소니 루소', '조 루소', 'a']

In [65]:
# key 설정 시, 무조건 따옴표 사용
dict_key = {
    'name' : "7D 건조 망고", 
}
dict_key

{'name': '7D 건조 망고'}

In [69]:
dict_key['새로운키'] = "새로운 값"
dict_key['price'] = [1, 2, 3, 4, 5]
dict_key['새로운딕셔너리'] = {'a':1, 'b':[1,2,3]}
dict_key

{'name': '7D 건조 망고',
 '새로운키': '새로운 값',
 'price': [1, 2, 3, 4, 5],
 '새로운딕셔너리': {'a': 1, 'b': [1, 2, 3]}}

In [77]:
del dict_key['새로운딕셔너리']
dict_key

{'name': '7D 건조 망고', '새로운키': '새로운 값', 'price': [1, 2, 3, 4, 5]}

In [78]:
dict_key.keys()

dict_keys(['name', '새로운키', 'price'])

In [79]:
dict_key.values()

dict_values(['7D 건조 망고', '새로운 값', [1, 2, 3, 4, 5]])

In [80]:
dict_key.items()

dict_items([('name', '7D 건조 망고'), ('새로운키', '새로운 값'), ('price', [1, 2, 3, 4, 5])])

In [82]:
temp = dict_key.keys()
temp.append('가격')

AttributeError: 'dict_keys' object has no attribute 'append'

In [85]:
temp = list(dict_key.keys())
temp.append('가격')
print(temp)

['name', '새로운키', 'price', '가격']

# 목차 4. 조건문

## 조건문 정의
- 00 조건을 만족한다 ==> True
      +그러면, 우리가 output A을 해야지.
- 00 조건을 만족하지 못함 ==> False
      +그러면, 우리가 output B를 해야지.
- if-else
- True 절 만드는 것이 핵심!

In [97]:
a = 1
if a > 1:    # <----해당되는 조건식을 만드는 것이 핵심
    print("1보다 큼")
else:
    print("1보다 작음")

1보다 작음

In [98]:
if True:
    print("True 입니다")

True 입니다

In [101]:
if False:
    print("False 입니다")

In [104]:
number = input("정수 입력해주세요!!")
number = int(number)

print(number)

#양수 조건
if number > 0:
    print("양수")

if number < 0:
    print("음수")

if number == 0:
    print("0")

정수 입력해주세요!! -6

-6
음수

시나리오
- 여러분의 돈이 00 있음
- 파이브 가이즈 햄버거 세트 가격이 35,000원.
- 햄버거를 먹을 수 있는 상황/그렇지 못한 상황에 대해 프로그래밍 하세요.

In [106]:
money = input("정수 입력해주세요")
money = int(money)    #그냥 money = int(input("돈 입력") 으로 합쳐버릴 수도 있음. (효율적)

print(money)

#햄버거 조건
if money > 35000:
    print("먹으세요")

else:
    print("굶으세요")

정수 입력해주세요 18000

18000
굶으세요

In [110]:
money = int(input("돈 입력"))
PRICE = 35000
if money >= PRICE: 
    print("맛있게 먹으세요")
else:
    print("공부나 하자")

돈 입력 18000

공부나 하자

## if-else와 elif 조건문

In [130]:
import datetime 

#현재 날짜와 시간 구하기
#월 추출해서 현재 계절 확인

now = datetime.datetime.now()
month = 100
print(type(month))

if 3<= month <= 5:
     print("봄")
elif 6 <= month <= 8:
    print("여름")
elif 9 <= month <= 11: 
    print("가을")
else:
    print("모름")

<class 'int'>
모름

## 날짜/시간 활용하기
- datetime (파이썬 기본 라이브러리)
  + 공식문서 찾아야 함. 
- pandas to_datetime :
https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html

In [113]:
import datetime 

#현재 날짜/시간 구하기
now = datetime.datetime.now()
now

datetime.datetime(2024, 6, 27, 14, 38, 29, 166852)

In [114]:
now = datetime.datetime.now()
now.year

2024

In [115]:
now.month

6

In [116]:
print(now.month, "월")

6 월

In [119]:
print(f'{now.year}년 {now.month}월 {now.day}일')

2024년 6월 27일

In [ ]:
number = int(input("정수를 입력하세요"))

if number % 2 == 0:
    print("짝수")
else:
    print("홀수")

print(number)

In [ ]:
import datetime

now = datetime.datetime.now()
month = now.month

if 3 <= month <= 5:
    print("봄")
elif 6 <= month <= 8:
    print("여름")
elif 9<= month <= 11:
    print("가을")
else:
    print("겨울")

## pass
- 나중에 코드 작성하려고 잠시 비워 둘 때 사용함
- pass 대신 raise NotImplementedError 사용하면 오류 발생시킬 수도 있음.

In [ ]:
num = int(input("숫자를 입력하세요"))
if num > 0:
    #코드 디테일하게 작성
    pass
else:
   pass

print("완료")

# 목차 5. 반복문

## for 반복문
- p.207
- 몇번을 반복해야 하는지 사용자가 지정

In [1]:
print("출력")
print("출력")

출력
출력

In [2]:
for i in range(3): # 처음에 범위 지정할 때, 3번 정도 확인
  print("출력")

출력
출력
출력

In [3]:
array = ["a", "b", "c", "d", "e"]
for element in array: 
    print(element)

a
b
c
d
e

In [6]:
tuple = (1, 2, 3) 
for element in tuple: 
    print(element)

1
2
3

In [14]:
list_of_list = [[1, 2, 3], [4, 5, 6, 7], [8, 9]]
list_of_list

for items in list_of_list:
    print(items)
    for item in items:
        print(item)

[1, 2, 3]
1
2
3
[4, 5, 6, 7]
4
5
6
7
[8, 9]
8
9

In [24]:
#예제 : #구구단을 자유자재로 만들기! 
num1 = [2, 3, 4, 5, 6, 7, 8, 9]
num2 = [2, 3, 4, 5, 6, 7, 8, 9]

for x in num1:
    for y in num2:
        print(x,'*',y, '=', x * y)

2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [28]:
num1 = [2, 3, 4, 5, 6, 7, 8, 9]
num2 = [1, *num1]

for a in num1:
    print(a)
    for b in num2:
        print(a,'*',b, '=', a*b)

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

## 리스트 컴프리헨션
- pythonic한 코드
- 반복문을 한줄로 처리
- 결과값은 리스트로 반환

In [30]:
a = [1, 2, 3, 4]
result = []
for num in a:
    print(num*3)

3
6
9
12

In [32]:
a = [1, 2, 3, 4]
result = []
for num in a:
    result.append(num*3)

result

[3, 6, 9, 12]

In [33]:
b = [1, 2, 3, 4]
result2 = [num * 3 for num in b]
result2

[3, 6, 9, 12]

In [35]:
num1 = [1, 2, 3, 4]
num2 = [10, 20, 30, 40]
result = []
for n1, n2 in zip(num1, num2):
    print(n1, n2, n1*n2)
    result.append(n1*n2)
result

1 10 10
2 20 40
3 30 90
4 40 160

[10, 40, 90, 160]

In [41]:
num1 = [1, 2, 3, 4]
num2 = [10, 20, 30, 40]

result = [n1 * n2 for n1, n2 in zip(num1, num2)]
result

[10, 40, 90, 160]

In [42]:
num1 = [1, 2, 3, 4]
num2 = [10, 20, 30, 40]

result4 = [num1[0] * num2[0]]
result4

[10]

## while 반복문
- 조건식이 참이면 계속 수행함
- 예) 게임 (자동사냥)
      + 자동사냥 버튼 ==> True

In [ ]:
while 불 표현식 : ### 조건식, True가 조건식을 작성

## while을 for 반복문처럼 사용

In [1]:
i = 0 
while i<10:
    print('{}번째 반복입니다.'.format(i))
    i +=1 #하나씩 증가시키겠다는 의미

0번째 반복입니다.
1번째 반복입니다.
2번째 반복입니다.
3번째 반복입니다.
4번째 반복입니다.
5번째 반복입니다.
6번째 반복입니다.
7번째 반복입니다.
8번째 반복입니다.
9번째 반복입니다.

In [2]:
i = 0 
while i<10:
    print('{}번째 반복입니다.'.format(i))
    i +=1 #하나씩 증가시키겠다는 의미

print(i)

0번째 반복입니다.
1번째 반복입니다.
2번째 반복입니다.
3번째 반복입니다.
4번째 반복입니다.
5번째 반복입니다.
6번째 반복입니다.
7번째 반복입니다.
8번째 반복입니다.
9번째 반복입니다.
10

In [4]:
list_test = [1, 2, 1, 2]
value = 2

while value in list_test:
    list_test.remove(value)

print(list_test)

[1, 1]

In [5]:
list_test = [1, 2, 1, 2]
value = 2

value in list_Test

True

## 시간을 기반으로 반복하기

In [15]:
import time 

time.time()

1719538108.4283028

In [14]:
number = 0

#5초 동안 반복
target_tick = time.time() + 5 
while time.time() < target_tick:
    number += 1 
number

50758282

## break와 continue

In [23]:
numbers = [5, 6, 7, 10, 15, 25] 

for number in numbers:
    print(number)
    if number > 10: #브레이크 걸 타이밍 설정 # print 실행 후 break 
        break

5
6
7
10
15

In [24]:
numbers = [5, 6, 7, 10, 15, 25] 

for number in numbers:
    if number > 10: #print 실행 전 break
        break
    print(number)

5
6
7
10

In [27]:
numbers = [5, 15, 7, 10, 8, 25] 

for number in numbers:
    if number < 10: # 10보다 작은 number은 생략하고 다음 반복해서 print
        continue
    print(number)

15
10
25