# 목차 1. 함수 만들기
- 공식문서 볼 때 필수 확인사항 2가지
      + 매개변수 입력 방법(or 자료형)
      + 반환값, 반환되는 자료형의 형태(int, str, array, list, DataFrame, etc)

In [1]:
text = "안녕하세요"
len(text)

5

## 파이썬 독스트링 
- 클래스나 함수 만들 때 독스트링 사용해야 함
- 독스트링 : 개발 함수를 문서화

In [5]:
def add(a, b):
    """
    Adds two numbers together.

    Parameters:
    a (int or float): The first number.
    b (int or float): The second number.

    Returns:
    int or float: The sum of a and b.
    """
    return a + b

In [6]:
print(add.__doc__)

    Adds two numbers together.

    Parameters:
    a (int or float): The first number.
    b (int or float): The second number.

    Returns:
    int or float: The sum of a and b.

In [9]:
def subtract(x,y): 
    return x-y 
subtract(1564498498,15614)

1564482884

In [10]:
def multiply(x,y):
    return x*y
multiply(100, 8)

800

In [12]:
def linear_equation(x,y):
    """
    Computes the value of a linear equation 6x + y.

    Parameters:
    x (int or float): The coefficient of the variable x.
    y (int or float): The coefficient of the variable y.

    Returns:
    int or float: The result of the linear equation 6x + y.
    """
    return 6*x+y
linear_equation(1,2)

8

In [13]:
print(add.__doc__)

    Adds two numbers together.

    Parameters:
    a (int or float): The first number.
    b (int or float): The second number.

    Returns:
    int or float: The sum of a and b.

## 에러 유형 확인

In [14]:
def print_n_times(value, n):
    for i in range(n):
        print(value)

print_n_times("안녕하세요", 5)

안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요

In [15]:
def print_n_times(value, n):
    for i in range(n):
        print(value)

print_n_times("안녕하세요", )

TypeError: print_n_times() missing 1 required positional argument: 'n'

In [16]:
def print_n_times(value, n):
    for i in range(n):
        print(value)

print_n_times("안녕하세요", 10, 20)

TypeError: print_n_times() takes 2 positional arguments but 3 were given

## 가변 매개변수 
- *를 매개변수에 추가
- 매개변수를 원하는 만큼 받을 수 있는 함수

In [21]:
def print_n_times(n, *values):
    for i in range(n):
        for value in values:
            print(value)
        print()

print_n_times(3, "a", "b", "c", 1, 100, "aaa")

a
b
c
1
100
aaa

a
b
c
1
100
aaa

a
b
c
1
100
aaa

In [22]:
def print_n_times(n, *values):
    for i in range(n):
        for value in values:
            print(value)
        print()

In [27]:
def add_many(*nums):
    result = 0
    for num in nums:
        result += num

    return result

add_many(1,2,3,4)

10

## 키워드 매개변수 **kwargs
- 매개변수 앞에 ** 두 개 붙인 케이스

In [28]:
def print_kwargs(**kwargs):
    #이 메서드에는 return 값이 없음 
    print(kwargs) # 어떻게 출력이 될까?

In [37]:
print_kwargs(a = (1,2,3), b = "apple")

{'a': (1, 2, 3), 'b': 'apple'}

In [ ]:
def test1(a, b = 10, c = 100):
    print(a+b+c)

# 값을 전달할 필요가 없고, 단순 확인용으로만 함수를 만들고 싶으면 print

# test1(1)
result = test1(1)
result

In [45]:
def test2(a, b = 10, c = 100):
   return a+b+c

#값을 전달해야만 할 때는 return 값을 지정. 함수를 대체 가능

result = test2(1)
result

111

# 목차 2. 클래스

## 클래스 개념 정의
- 함수, 반복문만 적절하게 사용해도 큰 문제 없음
- 클래스를 사용하는 이유 : "자동화" + 많은 사람들을 위한 배포 가능

In [47]:
result = 0

def add(num):
    global result # 전역변수
    result += num # 결과값에 입력값 num 더하기 
    return result

print(add(3))
print(add(4))

3
7

In [58]:
result1 = 0
result2 = 0
result3 = 0
result4 = 0

def add1(num):
    global result1 # 전역변수
    result1 += num # 결과값에 입력값 num 더하기 
    return result1

def add2(num):
    global result2 # 전역변수
    result2 += num # 결과값에 입력값 num 더하기 
    return result2

def add3(num):
    global result3 # 전역변수
    result3 += num # 결과값에 입력값 num 더하기 
    return result3

def sub4(num):
    global result4
    result4 -= num
    return result4
    

print(add1(3)) #첫번째 사람
print(add2(4)) #두번째 사람
print(add1(4)) #첫번째 사람
print(add2(4)) #두번째 사람
print(add3(5)) #세번째 사람 
print(sub1(100))

3
4
7
8
5
-100

# 클래스 만들기

In [78]:
class Calculator: 
    def __init__(self):
        self.result = 1*2-3
        
    #새롭게 추가된 메서드 -> 업데이트 
    
    def add(self, num):
        self.result += num
        return self.result
    
    def sub(self, num):
        self.result -= num
        return self.result

    def mult(self, num):
        self.result *= num
        return self.result


#사용자 1
cal1 = Calculator()
cal2 = Calculator()
cal3 = Calculator()
cal4 = Calculator()
cal5 = Calculator()
cal6 = Calculator()

print(cal1.add(3))
print(cal1.add(4))
print(cal2.add(5))
print(cal2.add(4)) 
print(cal3.add(5))
print(cal4.add(6))
print(cal5.sub(100))
print(cal6.mult(5))

2
6
4
8
4
5
-101
-5

In [80]:
class StudentGrade: #CamelCase로 이름 명명
    pass

인스턴스 이름(=변수 이름); Calculator()에서 Calculator가 인스턴스

In [82]:
class Student:
    pass

#학생을 선언합니다. 
희교 = Student() ## 하나의 의미있는 객체
성민 = Student() ## 하나의 의미있는 객체
승훈 = Student() ## 하나의 의미있는 객체

In [208]:
class Student:
    #상태(state)
    def __init__(self, name, korean, math, english, science): #init은 일종의 생성자, 초기화라고 생각할 수 있음. 
        self.name = name
        self.korean = korean
        self.math = math
        self.english = english
        self.science = science 
        
    #행동(behavior)
    def get_sum(self): #학생들의 점수 합계 낸다는 행동 정의. 
        return self.korean + self.math + self.english + self.science
        
    def get_average(self):
        return self.get_sum() / 4
        
    def get_grade(self):      
        average = self.get_average()
        if average >= 90:  
            return 1
        else: 
            return 2
        
students = [
    Student("윤인성", 87, 98, 88, 95),
    Student("Evan", 50, 20, 15, 40),
]

In [209]:
def __str__(self):
    return "{}\t{}\t{}\t".format(self.name, self.get_sum(), self.get_average())

In [193]:
students[0]

In [194]:
students[0].get_sum()

368

In [195]:
students[1].get_sum()

125

In [196]:
students[0].get_average()

92.0

In [197]:
students[0].get_grade()

1

In [198]:
students[1].get_grade()

2

In [199]:
students[0].get_grade(), students[0].get_sum(), students[0].get_average()

(1, 368, 92.0)

In [202]:
for i in range(0, len(students)): 
    print(students[i].name, students[i].get_grade(), students[i].get_sum(), students[i].get_average())

윤인성 1 368 92.0
Evan 2 125 31.25

In [ ]:
for i in range

## 인스턴스 확인 
- isinstance(인스턴스, 클래스)

In [203]:
class Student:
    def __init__(self):
        pass

student = Student()
isinstance(student, Student)

True

In [204]:
isinstance(student, Calculator)

False

In [ ]:
# 상속 문법 

class Human:
    def __init__(self):
        pass

class Student(Human):
    def __init__(self):
        pass

In [ ]:
class Parent:
    pass

class Child(Parent):
    def __init__(self):
        super().__init__()